.timeline-heading {
  .glyphicon {
    margin-right: 4px;
    vertical-align: -1px;
  }
}

.timeline {
  img {
    vertical-align: middle;
  }

  .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .img-rounded {
    border-radius: 3px;
  }

  .img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
  }

  .img-circle {
    border-radius: 50%;
  }
}
